#shakal {
	border: 2px solid lightblue;
	border-radius: 18px;
	width: 12%;
	float: left;
	padding: 2px;
	margin-right:10px;
}

#name {
	padding-left: 5px;
	color: #006700;
	margin: 5px;
	height: 8%;
	width: auto;
}

#interests {
	color: #009a00;
	margin: 5px;
	width: auto;
	height: 5%;
}

#intro {
	color: #00cc66;
	margin: 10px;
	padding: 10px;
	width: auto;
	height: 3%;
	padding-bottom: 1%;
}

ul#links li {
width: auto;
max-width: 98%;
display: inline;

}

a { color: inherit;}

#break { display: none;}

#githubb {
	height: 10px;	
	margin-left: 5px;
border: 5px solid lightblue;
	border-radius: 5px;
	background-color: lightblue;
color: darkblue;
}

#maill {
	height: 10px;
border: 5px solid lightblue;
	border-radius: 5px;
	background-color: lightblue;
color: darkblue;
}

#linkedinn {
	height: 10px;
float: right;
border: 5px solid lightblue;
	border-radius: 5px;
	background-color: lightblue;
color: darkblue;
       margin-right: 10px;
}

#mail {height: 20px;}

#github {
height: 20px; margin-left: 150px;
}

#linkedin { height: 20px; float:right; margin-right: 5px;}

#proj {
	color: black;
	text-decoration: overline black;
}


#bigl {
	padding-left: 1%;
	padding-right: 1%;
	border: 1px solid green;
	width: 48%;
	float: left;
	margin-bottom: 10px;	
}

#bigr {
	padding-left: 1%;
	padding-right: 1%;
	border: 1px solid green;
	width: 48%;
	float: right;
	margin-bottom: 10px;
}

#heading {
	font-size: 45px;
	font-weight: bold;
	margin: 0px;
	color: #009a00;
	max-width: 50%;
}

#element {
	padding: 5px;
}

#titles {
	font-size: 28px;
	font-weight: normal;
	margin: 0px;
	color: #009a00;
	width: 90%;
}

#details {
	font-size: 25px;
	font-weight: normal;
	margin: 0px;
	color: #00cc00;
}

#duration {
	font-size: 13px;
	font-weight: normal;
	margin: 0px;
	color: #009a00;
}

#score {
	font-size: 15px;
	font-weight: bold;
	margin: 0px;
	color: black;
}

ul#bubbles li {
	color: white;
	float: left;
	background-color: green;
	display:inline;
	border: 3px solid green;
	border-radius: 2px;
	margin: 2px;
	margin-bottom: 5px;
}

body { 
	background-color: #faebd7;
	width: 100%;
}

@media (max-width: 800px)
{

#shakal { width: 33%;}
	#bigr, #bigl {
		margin: 2px;
		padding: 5px;
		border: 1px solid green;
		min-width: 90%;
		margin-bottom: 10px;
		max-width: 98%;
		width: auto
	}
ul#links li {
border: 0px;

display: inline-flex;
	 flex-wrap: wrap;
	 align-content: space-around;

}

#mail, #github, #linkedin { margin: 0px; }
/*
#mail { float: left; margin-left: 10%;}
#github { 
	margin-left: 50px;
	margin-right: auto;
}
#linkedin { float: right; margin-right: 20%;}
*/
#maill, #githubb, #linkedinn {
border: 0px;
display: none;
}
}
